.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  
  span {
    strong {
      margin: 0 1rem 0 1rem;
    }
  }
}

.done {
  font-style: italic;
  text-decoration: line-through;
}



