.card {
  position: relative;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
}

.card .card-title {
  font-size: 18px;
  font-weight: 300;
}

.card .card-content .card-title {
  display: block;
  line-height: 32px;
  margin-bottom: 8px;
}

.card .card-title.activator {
  cursor: pointer;
}

.card .card-image {
  position: relative;
}

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card .card-content {
  padding: 8px;
  border-radius: 0 0 2px 2px;
  box-sizing: inherit;
}

.card .card-content .card-title {
  display: block;
  line-height: 22px;
  margin-bottom: 8px;
}

.card .card-content p {
  margin: 0;
}

.right {
  float: right !important;
  text-decoration: none;
  color: #039be5;
  -webkit-tap-highlight-color: transparent;
}