.btn-search-movie {
  position: absolute;
  top: 50px;
  right: 2%;
}

.label-btn-movie {
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.label-btn-movie span {
  margin-left: 10px;
}

.form-radio {
  margin: 0 0 15px 0;
}
